.render-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 90vh;
}

@keyframes colorTransition {
    0% {
      fill: #f4f7b1; 
    }
    50% {
      fill: #909706; 
    }
    100% {
      fill: #f0fb9f; 
    }
  }
  
  .header svg {
    animation: colorTransition 3s infinite;
    transition: fill 3s ease-in-out;
    margin: 5px 10px;
  }

.image-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    margin: 10px 10px;
}

.source-image {
    width: 50%; 
    text-align: center; 
}

.source-image img {
    width: 100%;
    max-height: 450px; 
    object-fit: contain; 
}

.carousel-container {
    margin: 10px;
    width: 50%; 
    text-align: center; 
}

.carousel-container h2 {
    margin-bottom: 10px;
}

.image-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.spinner-border {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    border-width: 0.2em;
    margin-right: 8px;
  }
  
@media (min-width: 600px) {
    .carousel .control-arrow {
        background-color: rgba(0, 0, 0, 0.871) !important;
        border-radius: 50% !important;
        position: absolute !important;
        top: 50% !important;
        transform: translateY(-50%) !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .carousel .control-prev, .carousel .control-next {
        width: 50px !important;
        height: 50px !important;
        top: 50% !important;
        transform: translateY(-50%) !important;
        font-size: 18px; /* Adjust the font size for larger screens */
    }
    
    .carousel .control-prev {
        left: 10px !important;
    }
    
    .carousel .control-next {
        right: 10px !important;
    }
}

@media (max-width: 900px) {
    .carousel .control-prev, .carousel .control-next {
        width: 35px !important;  /* Smaller width */
        height: 35px !important; /* Smaller height */
        font-size: 14px !important; /* Smaller font size for the arrows */
    }
}

.carousel .control-arrow::before {
    font-size: 12px !important;
    line-height: 0.5 !important;
    text-align: center !important;
}


/* .carousel .control-arrow {
    background-color: rgba(0, 0, 0, 0.871) !important;
    border-radius: 50% !important;
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important; 
  }
  
  .carousel .control-arrow:hover {
    background-color: rgba(0, 0, 0, 0.927) !important;
  }
  
  .carousel .control-prev, .carousel .control-next {
    width: 50px !important;
    height: 50px !important;
    top: 50% !important;
    transform: translateY(-50%) !important; 
  }
  
  .carousel .control-prev {
    left: 10px !important;
  }
  
  .carousel .control-next {
    right: 10px !important;
  } */
@media (max-width: 900px){
    .render-body{
        height: 100%;
    }
    form{
        margin: 10px;
        font-size: 12px;
    }
    .image-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        width: 100%; 
        margin: 20px 10px;
        align-items: center;
    }
    /* .carousel .control-prev, .carousel .control-next{
        width: 25px !important;
        height: 25px !important;
    } */
    
}

@media (max-width: 354px){
    form{
        display: flex;
        flex-direction: column;
    }
}